<div class="container">
    <h1 class="p-2">Hotel adatbázis adminisztrációs felület</h1>
            <p>Ezen az oldalon minden fontos információt megtudhatunk a foglalásokról.</p>
            <p>A fenti menüben tudjuk elérni a munka területet.</p>
            <p>A feladataid között lehetnek a különböző foglalások ellenőrzése, mint pédlául:</p>
            <li>A szoba jellegének ellenőrzése</li>
            <li>Foglalók születésének megtekintése</li>
            <li>Árszabás</li>
            <li>Foglalt idő szerkesztése</li>
            <li>Foglalás módosítása, törlése.</li>
        <h5 class="mt-3">Jó munkát!</h5>
</div>